<div class="main-title">
  <h2>My<span>jobs</span><span class="bg-text">Experience</span></h2>
</div>

<ul class="timeline">
  <li *ngFor="let experience of expe">
    <div [ngClass]="changeDirection()">
      <input class="radio" id="{{experience.nombreE}}" ng type="radio">
      <div class="flag-wrapper">
        <div [ngClass]="'admin-button-'+changeEdit()" *ngIf="isLogged">
          <button type="button" class="admin edit" routerLink="/editexp/{{experience.id}}">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button type="button" class="admin erase" (click)="delete(experience.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
        <label for="{{experience.nombreE}}"><span class="flag">{{experience.nombreE}}</span></label>
        <span class="time-wrapper"><span class="time">{{experience.fechaE}}</span></span>
      </div>
      <div class="desc">
        <p>{{experience.descripcionE}}</p>
      </div>
    </div>
  </li>
</ul>

<div class="add-new">
  <button type="button" class="new" routerLink="/nuevaexp" *ngIf="isLogged">
    <span class="text">Nueva experiencia</span>
  </button>
</div>