$link-color: #27ae60;
.main-title{
  text-align: center;
  padding-bottom: 3.5rem;
  h2{
      position: relative;
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 700;
      span{
          color: #27ae60;
          font-family: 'Kaushan Script', cursive;
      }
      .bg-text{
          position: absolute;
          top: 50%;
          left: 50%;
          color: #191d2b;
          transition: all .4s ease-in-out;
          z-index: -1;
          transform: translate(-50%, -50%);
          font-weight: 800;
          font-size: 6.3rem;
      }
  }
  @media(max-width: 860px) {
    h2{
      .bg-text{
        font-size: 4.5rem;
      }
    }
  }

}

.timeline {
  position: relative;
  width: 860px;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
  @media(max-width: 860px) {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: #27ae60;
    z-index: 5;
  }
  li {
    padding: 1em 0;
    @media(max-width: 860px) {
      padding: 2em 0;
    }
    &::after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}

p{
  color: transparent;
  word-break: break-word;
}

.direction-l {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
  @media(max-width: 860px) {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag {
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
      @media(max-width: 860px) {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
      }
    }

    
  }
  .time-wrapper {
    float: left;
    @media(max-width: 860px) {
      float: none;
    }
  }

  .radio:checked{
    & + .flag-wrapper{
      transform: translateX(-42px);
      label{
        cursor: auto;
        .flag:before{
          display: none;
        }
      }
      @media(max-width: 860px) {
      transform: none;
      }
    }

    & ~ .desc{
      border-color: #eee9dc;
      transform: translateX(-42px);
      transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
      p{
        transition: color 0.3s linear 0.3s;
        color: white;
      }
      @media(max-width: 860px) {
        border-color: $link-color;
        transform: none;
      }

    }
  }
}


.direction-r {
  position: relative;
  width: 400px;
  float: right;
  @media(max-width: 860px) {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    &:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
      @media(max-width: 860px) {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
      }
    }
    &:before {
      left: -15px;
    }
  }
  .time-wrapper {
    float: right;
    @media(max-width: 860px) {
      float: none;
    }
  }

  .radio:checked{
    & + .flag-wrapper{
      transform: translateX(42px);
      label{
        cursor: auto;
        .flag:before{
          display: none;
        }
      }
      @media(max-width: 860px) {
        transform: none;
        }
    }

    & ~ .desc{
      border-color: #eee9dc;
      transform: translateX(42px);
      transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
      p{
        transition: color 0.3s linear 0.3s;
        color: white;
      }
      @media(max-width: 860px) {
        border-color: $link-color;
        transform: none;
      }
    }
  }
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  @media(max-width: 860px) {
    text-align: center;
  }
  .flag {
    position: relative;
    display: inline;
    background: $link-color;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
    @media(max-width: 860px) {
      background: $link-color;
      z-index: 15;
    }
  }
}

.direction-l .flag:before,
.direction-r .flag:before{
  position: absolute;
  top: 60%;
  right: -15px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid $link-color;
  z-index: 10;
  @media(max-width: 860px) {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    margin-left: -10px;
  }
}




.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: $link-color;
  vertical-align: middle;
  @media(max-width: 860px) {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.9em;
  font-family: 'Martel',serif;
  font-style: italic;
  line-height: 1.5em;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-radius: 0.5em;

  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  @media(max-width: 860px) {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: #2a2e35;
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    z-index: 15;
    
  }
}

.radio{
  position: absolute;
  display: none;
}

label{
  cursor: pointer;
}


.add-new{
  position: absolute;
  top: 25%;
  left: 10%;
  text-align: center;
}

.admin-button-r{
  text-align: right;
}

.admin-button-l{
  text-align: left;
}

.admin{
  background: #2a2e35;
  color: white;
  border: 1px solid #2a2e35;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  &:hover{
    background: white;
    color: #2a2e35;
  }
}


.new{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.new::after,
.new::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.new::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #27ae60;
  border-radius: 10px;
}

.new::after {
  content: '+';
  color: #191d2b;
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.new:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.new:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.new:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}