<body class="main-content">
    <header class="section sec1 header">
        <app-header></app-header>
        <app-banner></app-banner>
    </header>
    <main>
        <section class="section sec2 about">
            <app-about></app-about>
        </section>

        <section class="section sec3 skills">
            <app-skills></app-skills>
        </section>

        <section class="section sec4 experience active">
            <app-experience></app-experience>
        </section>

        <section class="section sec5 education">
            <app-education></app-education>
        </section>
    </main>
</body>