<body>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <input id="input-1" type="text" placeholder="Nombre del projecto" name="nombre" [(ngModel)]="projecto.nombre"
            required autofocus />
        <label for="input-1">
            <span class="label-text">Nombre</span>
            <span class="nav-dot"></span>
            <div class="signup-button-trigger">Editar projecto</div>
        </label>
        <input id="input-2" type="text" placeholder="Categoria del projecto" name="categoria"
            [(ngModel)]="projecto.categoria" required />
        <label for="input-2">
            <span class="label-text">Categoria</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-3" type="text" placeholder="fecha del projecto" name="fecha" [(ngModel)]="projecto.fecha"
            required />
        <label for="input-3">
            <span class="label-text">Fecha</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-4" type="file" name="img" [(ngModel)]="projecto.img" (change)="uploadImage($event)"
            accept=".jpg,.jpeg,.png" required />
        <label for="input-4">
            <span class="label-text">Imagen</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-5" type="text" placeholder="Url del projecto" name="url" [(ngModel)]="projecto.url" required />
        <label for="input-5">
            <span class="label-text">Url</span>
            <span class="nav-dot"></span>
        </label>
        <button type="submit">Actualizar projecto</button>
        <p class="tip">Presione Tab</p>
        <div class="signup-button">Editar projecto</div>
    </form>
</body>