<!--tittle-->
<div class="main-title" data-aos="fade-right" data-aos-duration="3000">
    <h2><span>my</span> projects<span class="bg-text">portfolio</span></h2>
</div>
<!--a little description-->
<div class="description" data-aos="fade-right" data-aos-duration="3000">
  <p>Estos son algunos de los projectos que he desarrollado aplicando los conocimientos adquiridos a lo largo de mi trayectoria.</p>
</div>

<div class="project-section">
    <div class="card-grid" data-aos="flip-up">
        <a class="card" href="/home">
          <div class="card__background" style="background-image: url(../../../assets/Portfolio.png)"></div>
          <div class="card__content">
            <p class="card__category">Front/back-End</p>
            <h3 class="card__heading">Mi Portfolio Web</h3>
          </div>
        </a>
    </div>
</div>