<div class="main-title">
    <h2>About <span>me</span><span class="bg-text">my stats</span></h2>
</div>
<div class="about-container">
    <div class="left-about">
        <h4>Information About me</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores a quasi aliquid itaque beatae libero tempore consectetur, voluptatem earum nulla aspernatur sequi dignissimos temporibus quibusdam, eligendi dolorem unde quo. Illum!
        </p>
    </div>

    <div class="right-about">
        <div class="about item1">
            <div class="abt-text">
                <p class="large-text">Electrónica</p>
                <p class="small-text">Robotica<br /> Telecomunicacion</p>
            </div>
        </div>
        <div class="about item2">
            <div class="abt-text">
                <p class="large-text">Artes graficas</p>
                <p class="small-text">Diseño <br /> Musica</p>

            </div>
        </div>
        <div class="about item3">
            <div class="abt-text">
                <p class="large-text">Soft skills</p>
                <p class="small-text">Lider <br /> Trabajo en equipo</p>
            </div>
        </div>
        <div class="about item4">
            <div class="abt-text">
                <p class="large-text">Programacion</p>
                <p class="small-text">Front-end <br /> Back-end</p>
            </div>
        </div>
    </div>
</div>