
<div class="main-title">
    <h2>About <span>me</span><span class="bg-text">my stats</span></h2>
</div>
<div class="about-container">
    <div class="left-about">
        <h4><span>¿</span>Quien soy<span>...?</span></h4>
        <p>
            Soy un <span>estudiante de Ing Electrónica </span>lleno de mucha pasion por<span> el arte</span>, las ciencias y la <span>tecnologia</span>. Por esta razón la <span> programación</span> se ha convertido en la herramienta ideal con la cual puedo desarrollar todas estas habilidades.
            <br>Me desempeño como desarrollador web full stack, pero me especializo en <span>front-end</span>.<br>
            Me destaco por mi <span>liderazgo</span> y trabajo en equipo. Esto, además de mi alta capacidad de retención de información y una buena<span> velocidad de aprendizaje</span>, me permite poder enfrentarme de manera acertada a los diferentes entornos o situaciones en los que se me requiera.<br>
        </p>
    </div>

    <div class="right-about">
        <div class="about item1">
            <div class="abt-text">
                <p class="large-text">Electrónica</p>
                <p class="small-text">Robotica<br /> Telecomunicacion</p>
            </div>
        </div>
        <div class="about item2">
            <div class="abt-text">
                <p class="large-text">Artes graficas</p>
                <p class="small-text">Diseño <br /> Musica</p>

            </div>
        </div>
        <div class="about item3">
            <div class="abt-text">
                <p class="large-text">Soft skills</p>
                <p class="small-text">Lider <br /> Trabajo en equipo</p>
            </div>
        </div>
        <div class="about item4">
            <div class="abt-text">
                <p class="large-text">Programacion</p>
                <p class="small-text">Front-end <br /> Back-end</p>
            </div>
        </div>
    </div>
    
</div>
