<!--tittle-->
<div class="main-title" data-aos="zoom-out" data-aos-duration="3000">
	<h2>My<span>knowledge</span><span class="bg-text">Education</span></h2>
</div>

<div class="timeline-container">
	<ul class="timeline">
		<li *ngFor="let education of educacion">
			<div class="timeline-photo">
				<a href="{{education.urlE}}"><img src="{{education.imgE}}" alt="{{education.tituloE}} Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-right">
				<div [ngClass]="'admin-button-'+changeEdit()" *ngIf="isLogged">
					<button type="button" class="admin edit" routerLink="/editedu/{{education.id}}">
						<i class="fa-solid fa-pen"></i>
					</button>
					<button type="button" class="admin erase" (click)="delete(education.id)">
						<i class="fa-solid fa-trash"></i>
					</button>
				</div>
				<small>{{education.fechaE}}</small>
				<h2>{{education.tituloE}}</h2>
				<p>{{education.descripcionE}}</p>
			</div>
		</li>
	</ul>
</div>
<div class="add-new">
	<button type="button" class="new" routerLink="/nuevaedu" *ngIf="isLogged">
		<span class="text">Nuevo Titulo</span>
	</button>
</div>








<!--timeline
<div class="timeline-container">
	<ul class="timeline">
		<li>
			<div class="timeline-photo">
				<a href="https://1drv.ms/b/s!AokKnm8h1gLihG0zcsB3Qlyug2ko?e=8jxm33"><img src="../../../assets/LaSalleLogo.jpg" alt="La Salle logo Photo"></a>
			</div>
			<div class="timeline-content"data-aos="fade-right">
				<small>DEC 2017</small>
				<h2>Bachiller Académico</h2>
				<p>Instituto La Salle Barranquilla</p>
			</div>
		</li>
		<li>
			<div class="timeline-photo">
				<a href="https://1drv.ms/b/s!AokKnm8h1gLihHItrnjSOsJaD5d4?e=PxSNzZ"><img src="../../../assets/PjvLogo.png" alt="PJV logo Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-left">
				<small>DEC 2017</small>
				<h2>Formador de lideres de la pjv</h2>
				<p>Congregación de los Hermanos de las Escuelas Cristianas Distrito Lasallista Norandino Pastoral Juvenil y Vocacional</p>
			</div>
		</li>
		<li>
			<div class="timeline-photo">
				<a href="https://1drv.ms/b/s!AokKnm8h1gLihG6G9gFGLVh2Z9lg?e=UVA0Pe"><img src="../../../assets/DerechosHumanos.jpg" alt="Derechos Humanos logo Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-right">
				<small>MAR 2018</small>
				<h2>Derechos humanos y liderazgo en la construccion  de la paz</h2>
				<p>Dirección Territorial Atlántico/Departamento de Capacitación - Atlántico</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="https://1drv.ms/b/s!AokKnm8h1gLihHAn_viGmV5Ltx41?e=EDn3hn"><img src="../../../assets/ArgentinaProgramaLogo.jpg" alt="Argentina Programa logo Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-left">
				<small>DIC 2021</small>
				<h2>Argentina programa: #séprograma</h2>
				<p>Ministerio de Economía y la Cámara Empresarial de Software y Servicios Informáticos (CESSI)</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="https://1drv.ms/b/s!AokKnm8h1gLihG-e0FxYcEdcg1sh?e=gNvujV"><img src="../../../assets/PhythonLogo.jpg" alt="Phyton logo Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-right">
				<small>JUL 2022</small>
				<h2>Programming Essentials in Python</h2>
				<p>Cisco Networking Academy® in collaboration with OpenEDG Python Institute</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="#"><img src="../../../assets/YoProgramoLogo.jpg" alt="Argentina Programa logo Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-left">
				<small>AGOS 2022</small>
				<h2>Argentina programa: #YOprogramo</h2>
				<p>Ministerio de Economía, la Cámara de la Industria Argentina del Software (CESSI) y el Instituto Nacional de Tecnología Industrial (INTI)</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="https://1drv.ms/b/s!AokKnm8h1gLihHFX2pCU9L-4PlpI?e=BfUH7u"><img src="../../../assets/Unlamlogo.jpg" alt="UNLaM Logo Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-right">
				<small>EN CURSO</small>
				<h2>Ingeniero en Electrónica</h2>
				<p>Universidad Nacional de La Matanza</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="https://1drv.ms/b/s!AokKnm8h1gLihHMLbdkXLv3ZS10Y?e=cAQVu7"><img src="../../../assets/InglesLogo.jpg" alt="Ingles logo Photo"></a>
			</div>
			<div class="timeline-content" data-aos="fade-left">
				<small>EN CURSO</small>
				<h2>Inglés(FIRST CERTIFICATE MODULO 2)</h2>
				<p>Universidad Nacional de La Matanza</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<p class="timeline-readmore">New<br>Education<br>soon...</p>
			</div>
		</li>

	</ul>
</div>-->