.main-title {
	text-align: center;
	margin-bottom: 3.5rem;

	h2 {
		position: relative;
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: 700;

		span {
			color: #27ae60;
			font-family: 'Kaushan Script', cursive;
		}

		.bg-text {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #191d2b;
			transition: all .4s ease-in-out;
			z-index: -1;
			transform: translate(-50%, -50%);
			font-weight: 800;
			font-size: 6.3rem;
		}
	}
}

.timeline-container {
	padding: 50px;
	width: 70%;
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

.timeline,
.timeline li {
	position: relative;
}

.timeline li:after {
	content: '';
	display: block;
	clear: both;

}

.timeline li {
	margin: 100px 0;
}

.timeline li>.timeline-content {
	width: calc(50% - 100px);
}

.timeline:after,
.timeline li:first-child:before,
.timeline li:last-child:before,
.timeline-photo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.timeline li:first-child {
	margin-top: 0;
}

.timeline li:last-child {
	padding-top: 115px;
	margin-bottom: 0;
}

.timeline li:nth-child(odd)>.timeline-content {
	float: left;
	text-align: right;
}

.timeline li:nth-child(even)>.timeline-content {
	float: right;
}

.timeline li:first-child:before,
.timeline li:last-child:before,
.timeline:after {
	content: '';
	width: 6px;
	background-color: #27ae60;
	top: 0;
	bottom: 0;
	transform: translate(-50%, 0);
	z-index: 1;
}

.timeline li:first-child:before,
.timeline li:last-child:before {
	background-color: #2a2e35;
	top: 0;
	bottom: 50%;
	z-index: 2;
}


.timeline-photo {
	top: 50%;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #27ae60, 0 0 0 5px rgba(0, 0, 0, 0.15);
	background-color: rgba(0, 0, 0, 0.15);
	z-index: 3;
	height: 120px;
	width: 120px;
	overflow: hidden;
	text-align: center;
}

.timeline-photo img {
	width: 100%;
	border-radius: 50%;
}

.timeline-content {
	h2 {
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 16px;
		color: #27ae60;
	}

	p {
		box-shadow: 0px 10px 1000px #27ae60;
		border-radius: 15px;
		padding-left: 10px;
		padding-right: 10px;

	}

}

.timeline li:last-child .timeline-photo {
	background-color: #27ae60;
	display: table;
}


/* HOVER */
.timeline * {
	transition: all .2s ease-in-out;
}

.timeline-photo img:hover,
.timeline li:last-child .timeline-photo:hover a {
	transform: scale(1.1);
}

.timeline li:last-child .timeline-photo:hover {
	background-color: #27ae60;
}

.add-new {
	position: relative;
	text-align: center;
}

.admin-button-r {
	text-align: right;
}

.admin-button-l {
	text-align: left;
}

.admin {
	background: #2a2e35;
	color: white;
	border: 1px solid #2a2e35;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px;

	&:hover {
		background: white;
		color: #2a2e35;
	}
}


.new {
	all: unset;
	width: 100px;
	height: 30px;
	font-size: 16px;
	background: transparent;
	border: none;
	position: relative;
	color: #f0f0f0;
	cursor: pointer;
	z-index: 1;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.new::after,
.new::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -99999;
	transition: all .4s;
}

.new::before {
	transform: translate(0%, 0%);
	width: 100%;
	height: 100%;
	background: #27ae60;
	border-radius: 10px;
}

.new::after {
	content: '+';
	color: #191d2b;
	transform: translate(10px, 10px);
	width: 35px;
	height: 35px;
	background: #ffffff15;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 50px;
}

.new:hover::before {
	transform: translate(5%, 20%);
	width: 110%;
	height: 110%;
}

.new:hover::after {
	border-radius: 10px;
	transform: translate(0, 0);
	width: 100%;
	height: 100%;
}

.new:active::after {
	transition: 0s;
	transform: translate(0, 5%);
}






/* RESPONSIVE */
@media screen and (max-width: 991px) {
	.timeline-container {
		width: 100%;
		padding: 15px;
	}

	.timeline li:nth-child(odd)>.timeline-content,
	.timeline li:nth-child(even)>.timeline-content {
		float: none;
		width: 100%;
		padding-left: 120px;
		padding-right: 15px;
		text-align: left;
	}

	.timeline:after,
	.timeline li:last-child:before,
	.timeline-photo {
		left: 45px;
		top: 0;
		bottom: 0;
		transform: none;
	}

	.timeline-photo {
		left: 0;
		width: 90px;
		height: 90px;
	}



}

@media screen and (max-width: 540px) {
	.main-title {
		h2 {
			font-size: 2rem;

			.bg-text {
				font-size: 3.2rem;
			}
		}
	}

	.timeline li:nth-child(odd)>.timeline-content,
	.timeline li:nth-child(even)>.timeline-content {
		padding-left: 90px;
	}

	.timeline:after,
	.timeline li:first-child:before,
	.timeline li:last-child:before {
		left: 35px;
	}

	.timeline-photo {
		width: 70px;
		height: 70px;
	}

	.timeline-content {
		p {
			word-wrap: break-word;
		}
	}

}