<body>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <input id="input-1" type="text" placeholder="Titulo adquirido" name="tituloE" [(ngModel)]="tituloE" required
            autofocus />
        <label for="input-1">
            <span class="label-text">Titulo</span>
            <span class="nav-dot"></span>
            <div class="signup-button-trigger">Nueva titulo</div>
        </label>
        <input id="input-2" type="text" placeholder="Fecha" name="fechaE" [(ngModel)]="fechaE" required />
        <label for="input-2">
            <span class="label-text">Fecha de finalizacion</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-3" type="text" placeholder="Descripcion" name="descripcionE" [(ngModel)]="descripcionE"
            required />
        <label for="input-3">
            <span class="label-text">Descripcion</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-4" type="text" placeholder="URL de la imagen" name="imgE" [(ngModel)]="imgE" required />
        <label for="input-4">
            <span class="label-text">Imagen</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-5" type="text" placeholder="Url del certificado" name="urlE" [(ngModel)]="urlE" />
        <label for="input-5">
            <span class="label-text">Url</span>
            <span class="nav-dot"></span>
        </label>

        <button type="submit">Agregar titulo</button>
        <p class="tip">Presione Tab</p>
        <div class="signup-button">Nuevo titulo</div>
    </form>
</body>