<!--Those are my current social networks, I used an external library called "FontAwesome" for the icons-->
<div>
    <a href="https://www.instagram.com/ferq_1011/" class="link">
      <i class="fa-brands fa-instagram instagram"></i>
    </a>
    <a href="https://github.com/Ferny1011" class="link">
      <i class="fa-brands fa-github github"></i>
    </a>
    <a href="https://www.linkedin.com/in/ferney-santiago-quiroga-rojas-a9a633152" class="link">
      <i class="fa-brands fa-linkedin linkedin"></i>
    </a>
    <a href="https://www.reddit.com/user/Maq5165" class="link">
        <i class="fa-brands fa-reddit reddit"></i>
    </a>
</div>