<!--I decided to divide the banner into 2 main parts-->
<div class="banner-content">
    <!--left-->
    <div class="left-banner">
        <div class="banner-shape"></div>
        <div class="image">
            <img src="{{persona.img}}" alt="{{persona.nombre}}">
        </div>
    </div>
    <!--right-->
    <div class="right-banner">
        <app-background-animation></app-background-animation>
        <div class="admin-button" *ngIf="isLogged">
            <button type="button" class="admin edit" routerLink="/editbanner/1">
                <i class="fa-solid fa-pen"></i>
            </button>
        </div>
        <h1 class="name">
            Hola, soy <span>{{persona.nombre}} {{persona.apellido}}</span>
            Desarrollador Web Full-Stacks Jr.
        </h1>
        <p>
            {{persona.descripcion}}
        </p>
        <div class="btn-content">
            <a href="{{persona.cv}}" class="main-btn">
                <span class="btn-text">Curriculum Vitae</span>
                <span class="btn-icon"><i class="fa-solid fa-download"></i></span>
            </a>
        </div>

    </div>
</div>