section{
    min-height: 100vh;
    width: 100%;
    padding: 3rem;
}

body{
    
    background-color: #191d2b;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.1rem;
    color: #FFFFFF;
    background-image: linear-gradient(0deg,#000000 30%, #27ae60 100%);
}


.login-container{
    position: absolute;
    right: 0;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .main-title{
        text-align: center;
        padding-bottom: 5%;
        h2{
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            span{
                color: #27ae60;
                font-family: 'Kaushan Script', cursive;
            }
            .bg-text{
                position: absolute;
                top: 50%;
                left: 50%;
                color: #191d2b;
                transition: all .4s ease-in-out;
                z-index: -1;
                transform: translate(-50%, -50%);
                font-weight: 800;
                font-size: 6.3rem;
            }
        }
    }
}

.left-login h1{
    color: #27ae60;
}

.left-login-image{
    width: 70%;
}

.right-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    backdrop-filter: blur(250px);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0,0,0,.1);
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #191d2b;;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0,0,0,.1);
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: #27ae60;
}

.btn-login{
    width:100%;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #27ae60;
    background: #00000000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

//responsive

@media screen and (max-width: 768px){
    .login-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .left-login{
        width: 100%;
        padding: 0;
        h2{
            color: #27ae60;
        }
        img{
            position: absolute;
            z-index: -2;
            filter: blur(1.5px);
        }
    }

    .right-login{
        width: 100%;
        padding-top:0%;
    }

    .card-login{
       backdrop-filter: none;
    }

    .textfield label{
       display: none;
    }
}