<!--I decided to divide the banner into 2 main parts-->
<div class="banner-content">
    <!--left-->
    <div class="left-banner">
        <div class="banner-shape"></div>
        <div class="image">
            <img src="../../../assets/Ferney2.png" alt="Ferney Photo">
        </div>
    </div>
    <!--right-->
    <div class="right-banner">
        <app-background-animation></app-background-animation>
        <h1 class="name">
                Hola, soy <span>Ferney Santiago Quiroga.</span>
                Desarrollador Web Full-Stacks Jr.
        </h1>
        <p>
            Busco una experiencia desafiante dentro de una empresa del campo del desarrollo de software y/o electrónica que me permita ampliar mi conocimiento actual y crecer como profesional en una de mis más grandes pasiones, la tecnología.          
        </p>
        <div class="btn-content">
            <a href="" class="main-btn">
                <span class="btn-text">Curriculum Vitae</span>
                <span class="btn-icon"><i class="fa-solid fa-download"></i></span>
            </a>
        </div>
        
    </div>
</div>
