<div class="banner-content">
    <div class="left-banner">
        <div class="banner-shape"></div>
        <div class="image">
            <img src="../../../assets/Ferney2.png" alt="">
        </div>
    </div>
    <div class="right-banner">
        <h1 class="name">
                Hola, soy <span>Ferney Santiago Quiroga.</span>
                Desarrollador Web Full-Stacks Jr.
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugiat labore fugit iusto natus doloribus! Aut, corrupti eligendi enim pariatur eum, veniam tenetur excepturi totam suscipit, beatae delectus? Inventore, molestiae.
        </p>
        <div class="btn-content">
            <a href="" class="main-btn">
                <span class="btn-text">Curriculum Vitae</span>
                <span class="btn-icon"><i class="fa-solid fa-download"></i></span>
            </a>
        </div>
    </div>
</div>
