<!--tittle-->
<div class="main-title" data-aos="zoom-out" data-aos-duration="3000">
    <h2>About <span>me</span><span class="bg-text">my stats</span></h2>
</div>
<div class="about-container">
    <!--left part-->
    <div class="left-about">
        <h4><span>¿</span>Quien soy<span>...?</span></h4>
        <p>
            Soy un <span>estudiante de Ing Electrónica </span>lleno de mucha pasion por<span> el arte</span>, las
            ciencias y la <span>tecnologia</span>. Por esta razón la <span> programación</span> se ha convertido en la
            herramienta ideal con la cual puedo desarrollar todas estas habilidades.
            <br>Me desempeño como desarrollador web full stack, pero me especializo en <span>front-end</span>.<br>
            Me destaco por mi <span>liderazgo</span> y trabajo en equipo. Esto, además de mi alta capacidad de retención
            de información y una buena<span> velocidad de aprendizaje</span>, me permite poder enfrentarme de manera
            acertada a los diferentes entornos o situaciones en los que se me requiera.<br>
        </p>
    </div>

    <!--right part-->
    <div class="right-about">
        <div class="about item" data-aos="zoom-in-right" *ngFor="let about of abouts"
            style="background: linear-gradient(to bottom, rgb(0 0 0 / 1),rgb(0 0 0 /.25)),url({{about.img}})">
            <div class="admin-button" *ngIf="isLogged">
                <button type="button" class="admin edit" routerLink="/editabout/{{about.id}}">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <button type="button" class="admin erase" (click)="delete(about.id)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
            <div class="abt-text">
                <p class="large-text">{{about.titulo}}</p>
                <p class="small-text">{{about.subtitulo}}</p>
            </div>
        </div>
    </div>
    <div class="add-new">
        <button type="button" class="new" routerLink="/newabout" *ngIf="isLogged">
            <span class="text">Nuevo destacado</span>
        </button>
    </div>