<div class="main-title">
    <h2>About <span>me</span><span class="bg-text">education</span></h2>
</div>

<div class="timeline-container">
	<ul class="timeline">
		<li>
			<div class="timeline-photo">
				<img src="../../../assets/LaSalleLogo.jpg" alt="Timeline Photo">
			</div>
			<div class="timeline-content">
				<small>DEC 2017</small>
				<h2><a href="#">John Doe</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, hic facere voluptate consequuntur, labore voluptatem eveniet cum ipsa quasi doloremque</p>
			</div>
		</li>
		<li>
			<div class="timeline-photo">
				<a href="#"><img src="../../../assets/PjvLogo.png" alt="Timeline Photo"></a>
			</div>
			<div class="timeline-content">
				<small>DEC 2017</small>
				<h2><a href="#">John Doe</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, hic facere voluptate consequuntur, labore voluptatem eveniet cum ipsa quasi doloremque</p>
			</div>
		</li>
		<li>
			<div class="timeline-photo">
				<a href="#"><img src="../../../assets/DerechosHumanos.jpg" alt="Timeline Photo"></a>
			</div>
			<div class="timeline-content">
				<small>DEC 2017</small>
				<h2><a href="#">John Doe</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, hic facere voluptate consequuntur, labore voluptatem eveniet cum ipsa quasi doloremque</p>
			</div>
		</li>
		<li>
			<div class="timeline-photo">
				<a href="#"><img src="../../../assets/Unlamlogo.jpg" alt="Timeline Photo"></a>
			</div>
			<div class="timeline-content">
				<small>DEC 2017</small>
				<h2><a href="#">John Doe</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, hic facere voluptate consequuntur, labore voluptatem eveniet cum ipsa quasi doloremque</p>
			</div>
		</li>
		<li>
			<div class="timeline-photo">
				<a href="#"><img src="../../../assets/InglesLogo.jpg" alt="Timeline Photo"></a>
			</div>
			<div class="timeline-content">
				<small>DEC 2017</small>
				<h2><a href="#">John Doe</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, hic facere voluptate consequuntur, labore voluptatem eveniet cum ipsa quasi doloremque</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="#"><img src="../../../assets/PhythonLogo.jpg" alt="Timeline Photo"></a>
			</div>
			<div class="timeline-content">
				<small>DEC 2017</small>
				<h2><a href="#">John Doe</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, hic facere voluptate consequuntur, labore voluptatem eveniet cum ipsa quasi doloremque</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="#"><img src="../../../assets/ArgentinaProgramaLogo.jpg" alt="Timeline Photo"></a>
			</div>
			<div class="timeline-content">
				<small>DEC 2017</small>
				<h2><a href="#">John Doe</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, hic facere voluptate consequuntur, labore voluptatem eveniet cum ipsa quasi doloremque</p>
			</div>
		</li>

		<li>
			<div class="timeline-photo">
				<a href="#" class="timeline-readmore">Our<br>Story<br>Continues</a>
			</div>
		</li>
	</ul>
</div>
