<div class="main-title">
    <h2>About <span>me</span><span class="bg-text">my skills</span></h2>
</div>
<div class="wrapper">
    <div class="container hard">
        <h2 class="hard-title"><span>Hard </span> Skills</h2>
        <div class="hard-skills">
            <div class="details">
                <span>HTML5</span>
                <span>90%</span>
            </div>
            <div class="bar">
                <div id="html-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>CSS</span>
                <span>80%</span>
            </div>
            <div class="bar">
                <div id="css-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>JavaScript</span>
                <span>88%</span>
            </div>
            <div class="bar">
                <div id="javascript-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>Java</span>
                <span>60%</span>
            </div>
            <div class="bar">
                <div id="java-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>Angular</span>
                <span>75%</span>
            </div>
            <div class="bar">
                <div id="angular-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>Python</span>
                <span>95%</span>
            </div>
            <div class="bar">
                <div id="python-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>MySQL</span>
                <span>80%</span>
            </div>
            <div class="bar">
                <div id="mysql-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>Ruby</span>
                <span>70%</span>
            </div>
            <div class="bar">
                <div id="ruby-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>C/C++</span>
                <span>90%</span>
            </div>
            <div class="bar">
                <div id="c-bar"></div>
            </div>
        </div>

        <div class="hard-skills">
            <div class="details">
                <span>Ingles</span>
                <span>95%</span>
            </div>
            <div class="bar">
                <div id="ingles-bar"></div>
            </div>
        </div>
    </div>

    <div class="container soft">
        <h2 class="soft-title"><span>Soft </span> Skills</h2>
        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:95">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>95<span>%</span></h2>
                    <p>Liderazgo</p>
                </div>
            </div>
        </div>
        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:90">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>90<span>%</span></h2>
                    <p>Trabajo en equipo</p>
                </div>
            </div>
        </div>
        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:80">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>80<span>%</span></h2>
                    <p>Adabtabilidad</p>
                </div>
            </div>
        </div>
        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:92">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>92<span>%</span></h2>
                    <p>Pensamiento critico</p>
                </div>
            </div>
        </div>

        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:88">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>88<span>%</span></h2>
                    <p>Manejo del tiempo</p>
                </div>
            </div>
        </div>

        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:95">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>95<span>%</span></h2>
                    <p>Compromiso</p>
                </div>
            </div>
        </div>
        
        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:87">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>87<span>%</span></h2>
                    <p>Asertividad</p>
                </div>
            </div>
        </div>

        <div class="soft-skills">
            <div class="percent" style="--clr:#27ae60;--num:75">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>75<span>%</span></h2>
                    <p>Creatividad</p>
                </div>
            </div>
        </div>

    </div>


</div>


