.main-title{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3.5rem;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: #27ae60;
            font-family: 'Kaushan Script', cursive;
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: #191d2b;
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}

.description{
    p{
        text-align: right;
        color: #dbe1e8;
        font-family: 'Martel', serif;
        line-height: 2rem;
        padding-right:5rem;
        span{
            font-family: 'Kaushan Script', cursive;
            color: #27ae60;
            letter-spacing: 2px;
            font-weight: 600;
        }
    }

}

.wrapper{
    width: 100%;;
    margin-top: 5%;
    margin-bottom: 5%;
  
 } 

.soft-title{
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 5000;
    font-size: 3.5rem;
	justify-content: center;
    padding: 50px 30px;
    span{
        font-size: 3.5rem;
        font-family: 'Kaushan Script', cursive;
        color: #27ae60;
    }  
}

.soft{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}




.soft-skills{
    position: relative;
    justify-self: center;
    width:fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    transition: all .4s ease-in-out;
    &:hover{
        cursor: default;
        transform: translateY(-5px);
        box-shadow: 1px 4px 15px #27ae60;
    }
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
}

svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: rgba(255,255,255,0.06);
    transform: translate(5px, 5px);
}

svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num))/100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;

}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),0 0 30px var(--clr);
}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    p{
        font-family: 'Martel', serif;
        font-weight: 300;
        font-size: 0.75em;
        letter-spacing: 2px;
        text-align: center;
        color: rgba(255,255,255,0.75);
    }
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}

.add-new{
    position: relative;
    top: 0%;
    left: 80%;
    text-align: center;
  }
  
  .admin-button-r{
    text-align: right;
  }
  
  .admin-button-l{
    text-align: left;
  }
  
  .admin{
    background: #2a2e35;
    color: white;
    border: 1px solid #2a2e35;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    &:hover{
      background: white;
      color: #2a2e35;
    }
  }
  
  
  .new{
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .new::after,
  .new::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .new::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #27ae60;
    border-radius: 10px;
  }
  
  .new::after {
    content: '+';
    color: #191d2b;
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .new:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .new:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .new:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }


//responsive

@media screen and (max-width: 768px){
.main-title{
   h2{
         font-size: 2.5em;
   }
}


.bg-text{
    font-size: 3.5rem  !important;
}


 .description{
    p{
        text-align: justify;
        padding: 0;
        letter-spacing: 0px;
    }
 }
 .soft{
    grid-auto-flow: row;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    .different{
        grid-column: 1/3;
    }
    .soft-skills{
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
 }

 .add-new{
    position: relative;
    top: 0%;
    left: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
 
 
}