<div class="main-title" data-aos="fade-left" data-aos-duration="3000">
    <h2>My<span>skills</span><span class="bg-text">Abilities</span></h2>
</div>
<div class="description" data-aos="fade-left" data-aos-duration="3000">
    <p>
        Tengo una amplia gama de habilidades aplicables que me permitiran ser un miembro valioso de su equipo. <br>Estas
        incluyen <span>habilidades técnicas</span> específicas que he desarrollado durante el último año<br> junto con
        fuertes <span>habilidades blandas</span> desarrolladas a lo largo de mi carrera.
    </p>
</div>
<div class="wrapper">
    <h2 class="soft-title"><span>Soft </span> Skills</h2>
    <div class="container soft">
        <div class="soft-skills" data-aos="fade-up" data-aos-duration="3000" *ngFor="let skill of skill">
            <div class="percent" style="--clr:#27ae60;--num:{{skill.porcentaje}}">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{skill.porcentaje}}<span>%</span></h2>
                    <p>{{skill.nombre}}</p>
                </div>
            </div>

            <div class="admin-button" *ngIf="isLogged">
                <button type="button" class="admin edit" routerLink="/editskills/{{skill.id}}">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <button type="button" class="admin erase" (click)="delete(skill.id)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>

        </div>
    </div>
    <div class="add-new">
        <button type="button" class="new" routerLink="/newskill" *ngIf="isLogged">
            <span class="text">Nueva soft</span>
        </button>
    </div>
</div>



<div class="wrapper">
    <app-hard-skills></app-hard-skills>
</div>