<div class="main-title">
    <h2>My<span>jobs</span><span class="bg-text">Experience</span></h2>
</div>

<ul class="timeline">
    <li>
      <div class="direction-r">
        <input class= "radio" id="work1" type="radio">
        <div class="flag-wrapper">
          <label for="work1"><span class="flag">Lorem, ipsum</span></label>
          <span class="time-wrapper"><span class="time">2010 - 2016</span></span>
        </div>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, corrupti illo! Architecto quaerat, ex laboriosam expedita aspernatur ad ratione dolorem neque. Harum dolores repudiandae inventore <a href="#" target="_top">Lorem ipsum dolor sit amet</a></p>
        </div>
      </div>
    </li>
  
    <li>
      <div class="direction-l">
        <input class= "radio" id="work2" type="radio">
        <div class="flag-wrapper">
          <label for="work2"><span class="flag">Lorem ipsum dolor</span></label>
          <span class="time-wrapper"><span class="time">2013 - 2016</span></span>
        </div>
        <div class="desc">
          <p>Lorem<strong>impus dolor sit</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus expedita rerum, possimus aperiam veritatis recusandae beatae repellat saepe aspernatur temporibus illum obcaecati! Cumque consequuntur qui officia quaerat veritatis esse sequi!</p>
        </div>
      </div>
    </li>
  </ul>