<div class="main-title">
    <h2>My<span>jobs</span><span class="bg-text">Experience</span></h2>
</div>

<ul class="timeline">
    <li>
      <div class="direction-r">
        <input class= "radio" id="work1" type="radio">
        <div class="flag-wrapper">
          <label for="work1"><span class="flag">Freelance</span></label>
          <span class="time-wrapper"><span class="time">2010 - 2016</span></span>
        </div>
        <div class="desc">
          <p>Som freelance Fullstack Developer arbejder jeg med et hav af kunder, hjemmesider og apps. Jeg har tidligere designet og udviklet hjemmesider og andre løsninger for arkitekter, bilforhandlere, skoler, designere, fotografer og manger flere. Læs mere: <a href="https://tristanwhite.info" target="_top">https://tristanwhite.info</a></p>
        </div>
      </div>
    </li>
  
    <li>
      <div class="direction-l">
        <input class= "radio" id="work2" type="radio">
        <div class="flag-wrapper">
          <label for="work2"><span class="flag">Rundhøjskolen</span></label>
          <span class="time-wrapper"><span class="time">2013 - 2016</span></span>
        </div>
        <div class="desc">
          <p>Som <strong>IT-vejleder</strong> på Rundhøjskolen er jeg ansvarlig for indkøb opsætning og vedligeholdelse af skolens IT-udstyr. Envidere står jeg får udvikling og vedligeholdelse af skolens hjemmeside, samt diverse mindre projekter, infoskærme og mere. I det daglige står jeg for support af skolens IT-udstyr samt support for elever så vel som kollegaer. Jeg underviser ugentligt et IT-valghold.</p>
        </div>
      </div>
    </li>
  </ul>